.character-info {
    &__talent-icon {
        width: 40px;
        height: 40px;
    }

    &__gear-name {
        &--poor {
            color: $poor;
        }

        &--common {
            color: $common;
        }

        &--uncommon {
            color: $uncommon;
        }

        &--rare {
            color: $rare;
        }

        &--epic {
            color: $epic;
        }

        &--legendary {
            color: $legendary;
        }

        &--artifact {
            color: $artifact;
        }

        &--heirloom {
            color: $heirloom;
        }
    }
}